html  {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

}

body {
    padding: 0;
    margin: 0;
    height:100%;
    -webkit-overflow-scrolling: touch;
}

a{
    text-decoration: none;
}


ul {
    padding: 0;
}

/*LOGO_MENU*/
.logo_menu{
    line-height: 70px;
    float: left;
    padding: 0 0px;
}

.logo_menu img{
    vertical-align: middle;
    max-width: 70px;
    height: auto;
    margin-left: 10px;
}


/*HORIZONTAL*/
.menu {
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
    height: 70px;
    width: 100%;
    z-index: 110;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.menu li a{
    padding: 0 22px;
    color: dimgray;
    font-family: lato;
}

.menuContainer{
    padding: 0;
    margin: 0;
    float: right;
    width: 550px;
    height: auto;
}

#horMenu li{
    text-align: center;
    line-height: 70px;
    float: left;
    font-size: 1.5em;
}



/*VERTICAL*/
.menuSlim{
    display: none;
    position: absolute;
    margin: 0;
    padding: 0 20px;
    line-height: 70px;
    vertical-align: middle;
    right: 0;
    top: 0;
    background-color: #f2f2f2;
}

.vertUl{
    
    margin: 0;
    padding: 0;
    float: right;
    clear: both;
}

.vertMenu li a{
    color: black;
    font-family: lato;
}

#vertMenu {
    z-index: 110;
    display: none;
    position: fixed;
    overflow: hidden;
    list-style-type: none;
    padding: 20px;
    width: 150px;
    height: auto;
    right: 0;
    top: 60px;
    background-color: #f2f2f2;
}

#vertMenu li{

    max-height: auto;
    text-align: left;
    float: none;
    right: 0;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
}



/*CONTEUDO*/

.geral {
    position:relative;
    min-height:100%;
}

.container {
    position: relative;
    display: flex;
    min-width: 100%;
    height: 800px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background: url('images/fundo.jpg') no-repeat center center ;
    background-size: cover;
    background-color: #000;
    margin: 0;
    padding: 0;
    clear: both;
}

.container2 {
    position: relative;
    display: flex;
    width: 100%;
    height: 800px;
    margin-top: 0;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background: linear-gradient(to left, cornflowerblue 54%, rgba(0,0,0,0) 46%);
    
}


/*CONTEUDO*/
.logo{
    display: flex;
    order: 0;
    max-width: 300px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.logo img{
    max-width: 250px;
    visibility: hidden;
}

.conteudo {
    position: relative;
    display: inline-flex;
    padding: 0;
    flex-flow: row wrap;
    order: 1;
    max-width: 300px;
    height: 200px;
    margin: 0px 30px 60px 30px;
    visibility: hidden;
}

/*Sessão 3 - Blocos*/
.sessao3{
    position: relative;
    display: table;
    margin: 0;
    padding: 0;
    top: 0px;
    height: 400px;
    width: 100%;
    background-color: cornflowerblue;
    text-align: center;
    overflow: hidden;
    
}

.blocos{
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    margin: 60px 20px;
    height: 280px;
    width: 250px;
    color: #fff;
    vertical-align: middle;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    visibility: hidden;
}

.blocos p {
    color: #fff;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0;
}

.blocos b{
    line-height: 40px;
    font-size: 22px;
    color: #fff;
}

/*FORM*/
.form{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 900px;
    flex-flow: column wrap;
    align-items: center;
    padding: 0;
    margin: 0 0 0 0;
    background-color: rgba(255, 255, 255, 0.5);
    background: url('images/fundo.jpg') no-repeat center center ;
    background-size: cover;
}


/* CONTATO */

.bloco_contato{
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
    height: auto;
    max-width: 600px;
    color:#000;
    vertical-align: middle;
}

fieldset{
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 10px 20px 10px 20px;
    border: none;
    max-width: 500px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
    visibility: hidden;
}


.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #fff;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #333;
}

.form-style-1 input[type=text]{
    width: 500px;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: cornflowerblue;
    color: #fff;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

.right{
    display: block;
    float: right;
}


.form-style-1 {
    margin: 0;
    padding: 0;
    max-width: 500px;
    height: auto;
    font-family: 'Lucida Sans', Arial, sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 0;
}
.form-style-1 label{
    margin:0;
    padding:0;
    display:block;
    float: left;
    font-weight: bold;
}


.areas{
    position: relative;
    display: block;
    margin-left:auto;
    margin-right:auto;
    text-align: left;
    width: 120px;
}

.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}

.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}



/*TIPOGRAFIA*/

.conteudo b{
    color: #fff;
    font-family: 'SansusWebissimoRegular';
    font-size: 54px;
    font-weight: 100;
    line-height: 60px;
    margin-bottom: 0;
}

.conteudo h1 {
    color: #fff;
    font-family: 'SansusWebissimoRegular';
    font-size: 53px;
    font-weight: 100;
    line-height: 60px;
    margin-bottom: 0;
}

.conteudo p {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin-left: 20px;
}

.form p {
    color: #fff;
    font-family: 'Lato', sans-serif;
    margin-bottom: 15px;
}

h3 {
    color: #333;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.form h1 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 54px;
    font-weight: 300;
    line-height: 60px;
    margin-top: 100px;
    margin-bottom: 0;
    text-align: center;
}

.select-style {
    border: 1px solid #ccc;
    overflow: hidden;
}

.select-style select {
    width: 100%; 
    max-width: 500px;
    height: auto;
    font-family: 'Lucida Sans', Arial, sans-serif;

    
}

.select-style select:focus {
    outline: none;
}

/*RODAPE*/
.rodape{
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 150px;
    width: 100%;
    bottom: 0px;
    background-color: cornflowerblue;
}

.rodape_container{
    position: relative;
    left: 0;
    right: 0;
    height: auto;
    width: 95%;
    padding: 10px;
    line-height: 20px;
    vertical-align: middle;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    color: #fff;
    font-family: 'lato';
    font-size: 14px;
}

.rodape a{
    color: dimgray;
}

.rodape table{
    width: 100px;
    text-align: left;
}

.rodape th, td{
    padding: 2px;
}

/* BOTÃO PARA IR AO TOPO */
#topoBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 40px; /* Place the button 30px from the right */
    z-index: 200; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: firebrick; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#topoBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/*TELA*/
@media screen and (max-width: 600px) {
    .menuSlim {display: block}
    #horMenu {display: none}
    .container2 {background: rgba(100, 148, 237,0.7)}
    .logo img {margin-top: 50px;}
    .conteudo {margin-top: -250px; max-width: 250px;}
    .menu {height: 60px; line-height: 60px;}
    .logo_menu img{max-width: 60px; line-height: 60px;}
    .logo_menu { line-height: 60px;}
    .form-style-1 input[type=text]{width: 300px;}
}